<%= render "partials/header" %>
<div class="container">
  <div class="jumbotron text-center">
    <h3>Your data here:</h3>
    <%= form_for :response, url: {action: "create"}, html: {class:
    "form-control"} do |f| %>
      <%= f.label "Location:" %>
      <%= f.text_field :location %>
      <%= f.label "Languages:" %>
      <%= @languages.each do |language| %>
      <%= check_box_tag 'response[languages][]', language.id %>
      <%= language.name %>
      <% end %>

      <%= f.submit %>
      <% end %>

</div>
</div>





<!-- <form method="post" action="/responses" class="form">
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" name="location" class="form-control"></br>
  <label for="languages">Languages:</label><br/>
  <% @languages.each do |language| %>
  <label for="<%= language.name %>"><%= language.name %></label>
   <input type="checkbox" id="<%=language.id%>" name="<%=language.name%>" value="false"><br />
  <% end %>
<input type="submit" class="btn btn-primary" value="Submit Response">
</div>
</form> -->
