<h1>Submit your response here</h1>

<%= form_for :response, url:responses_path do |f| %>
  <p>
    <h3> What languages do you use? </h3>
    <% @languages.sort.each do |language| %>
      <tr>
        <td><%= check_box_tag 'response[languages][]', language.language, false%></td>
            <%= language.language %></br>
      </tr>
      <% end %>
  </p>

  <p>
    <%= f.label :location, ('<h3>Where are you?</h3>').html_safe %>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
