<!-- <%= render "partials/header" %> -->
<div class="container">
  <div class="jumbotron text-center">
    <h2>Submit your data here:</h2>
    <%= form_for :response, url: {action: "create"} do |f| %>
    <div>
      <p><%= f.label "Location:" %></p>
      <%= f.text_field :location, class: "form-control" %>
    </div><br/>
    <div>
      <p><%= f.label "Languages:" %></p>
      <% @languages.each do |language| %>
      <%= language.name %>
      <%= check_box_tag 'response[languages][]', language.name, false, id: language.id %><br/>
      <% end %>
    </div>
    <br/>
    <%= f.submit "Submit Response", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
