<%= render "partials/header" %>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Submit your data here</h1>
    <%= form_for :response, url: {action: "create"} do |f| %>
    <div>
      <div>
        <h3>Where are you?</h3>
        <%= f.label "Location:" %><br/>
        <%= f.text_field :city, class: "form-control" %>
      </div><br/>
      <h3>What languages do you use?</h3>
      <%= f.label "Languages:" %><br/>
      <% @languages.each do |language| %>
      <%= language.name %>
      <%= check_box_tag 'response[languages][]', language.name, false, id: language.id %><br/>
      <% end %>
    </div>
    <br/>
    <%= f.submit "Submit Response", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
