<%= render "partials/header" %>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Submit a response here</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-danger'><%= flash[:notice]%></div>
    <%end%>
    <%= form_for :response, url: {action: "create"} do |f| %>
    <div>
      <div>
        <h3>Where are you?</h3>
        <%= f.label "City:" %><br/>
        <%= f.text_field :city, class: "form-control" %>
      </div><br/>
      <h3>What languages do you use?</h3>
      <% @languages.each do |language| %>
      <%= language.name %>
      <%= check_box_tag 'response[languages][]', language.id, false, id: language.id %><br/>
      <% end %>
    </div>
    <br/>
    <%= f.submit "Submit Response", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
